th {
    background-color: rgb(185, 117, 248);
    color : white;
 
    text-align: center;
    width : 14.3%;
}

td{
    background-color: rgb(193, 154, 230);
    color: white;
    text-align: center;
    width : 14.3%;
}

table{
    background-color: rgb(140, 33, 241);
}